body {
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: aqua;
    text-indent: 20px;
}

p {
    text-indent: 20px;
}

img {
   
    
    border-radius: 10px;
    padding: 5px;
}

#um {
    margin-left: 10%;
    height: 50px;
    width: 50px;
    border: 2px solid black;
}

#dois {
    margin-left: 80%;
    height: 100px;
    margin-top: 19%;
}